$bg_dark_color: #000;
$bg_cyprus_color: #07424D;
$bg_dark_gray_color: #E9DDCF;
$button_bg_theme_color:#CB9F77;
$text_white_color:#fff;
$cormorant_font: 'Cormorant', serif;
$poppins_font: 'Poppins', sans-serif;
$banner_heading:3.75rem;
